*{
	padding: 0;
	margin: 0;
	font-family: Arial;
}

html {
    scroll-behavior: smooth;
}
/*------------------------------------------------------------------------------------------------------------*/
.navbar{
	background-color: #313157;
	display: flex;
	width: 100%;
	height: 50px;
	margin: auto;
	padding: 32px 0;
	align-items: center;
	justify-content: space-between;
}

.navbar ul li{
	list-style-type: none;
	display: inline-block;
	padding-left:15px;
    margin-right:75px;
}

.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 13px;
    font-weight:bold;
}

.navbar ul li a:hover{
	box-shadow: 0 2px aqua;
   	color: aqua;
	transition: 1s;
}
/*------------------------------------------------------------------------------------------------------------*/
.menuDon {
    font-size: 25px;
    font-family: Arial Black;
    color:white;
    border:3px solid white;
    border-radius:50px;
    padding:5px;
    margin-left:50px;
    text-decoration: none;
}

.menuDon:hover {
   	color: aqua;
	transition: 1s;
    border:3px solid aqua;
}
/*------------------------------------------------------------------------------------------------------------*/
.contentProfil {
    background-image: url('images/bg1.jpg');
    width: 100%;
    height: 900px;
    background-position-x: 75%;
    background-size: cover;
    position: absolute;
    background-repeat:no-repeat;
}

.contentProfil table{
	width: 1000px;
	height: 600px;
	margin-left:auto;
    margin-right:auto; 
	margin-top:150px;
}
/*------------------------------------------------------------------------------------------------------------*/
.ulasim {
	width: 400px;
	height: 50px;
	background-color:  white;
}

.ulasim ul li {
	display: inline-block;
	cursor: pointer;
	padding-left: 90px;
}

.ulasim ul li img {
	width:20px;
    height:20px;
}

/*------------------------------------------------------------------------------------------------------------*/
.solUst {
	width: 400px;
	height: 500px;
	background-color: #56567c;
}
.solUst img {
	width:250px;
    height:250px;
    padding-left:75px;
    padding-right:75px;
}

.sagUst {
	width: 600px;
	height: 500px;
    background-color:  white;
}

.sagUst h1 {
	font-size:95px;
    font-family:Arial Black;
    padding-left: 15px;
    color:black;
}
.sagUst p {
    padding-left:15px;
    color:black;
}

.sertificate{
    width:750px;
    height:450px;
    background-color:#56567c;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:125px;
}
.sertificate h2{
    color:white;
    font-size:25px;
    font-family:Segoe UI;
    text-align:center;
    padding-top:50px;
    font-weight:bold;
}
.sertificate p{
    padding-top:35px;
    text-align:center;
}
.sertificate p a{
    color:white;
    font-size:12px;
    text-decoration:none;
}
.sertificate p a:hover{
    color:aqua;
    font-size:12px;
    text-decoration:none;
}
.solKutu{
    width:375px;
    height:auto;
    float:left;
}
.sagKutu{
    width:375px;
    height:auto;
    float:right;
}
/*------------------------------------------------------------------------------------------------------------*/

.contentHakkimda {
    width: 100%;
    height: 1250px;
    margin-top: 900px;
    background-image: linear-gradient(rgba(51, 51, 101, 0.49), rgba(30, 30, 49, 0.84)), url('images/background4.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:bottom;
}

.contentHakkimda h1 {
     color:white;
     font-size:40px;
     font-family:Segoe UI Black;
     font-weight:bold;
     text-align:center;
     padding-top:100px;
}

.contentHakkimda table {
    width:800px;
    height:800px;
    margin-right:auto;
    margin-left:auto;
    padding-left:100px;
}

.contentHakkimda table tr td {
     width:auto;
     height:150px;
}

/*------------------------------------------------------------------------------------------------------------*/
 .tarih {
      color:aqua;
      font-family:Arial Black;
      font-size:18px;
      padding-left:20px;
      padding-right:20px;
 }

 .okul {
     color:white;
     font-family:Arial; 
     font-size:16px; 
     padding-left:20px; 
     padding-right:20px;
 }

 .alan {
     color:white; 
     font-family:Arial; 
     font-size:14px; 
     padding-left:20px; 
     padding-right:20px;
 }

 .bolum {
     color:white; 
     font-family:Arial; 
     font-size:13px; 
     padding-left:20px; 
     padding-right:20px;
 }

.solCizgi p {
     border-left:1px solid aqua; 
 }

.sagCizgi p {
     border-right:1px solid aqua; 
 }
/*------------------------------------------------------------------------------------------------------------*/

.content1 {
    width: 100%;
    height: 1000px;
    background-image:linear-gradient(rgba(35, 35, 54, 0.70), rgba(7, 7, 34, 0.70)), url('images/background3.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.content1 h1{
    color:white;
    font-size:40px;
    font-family:Segoe UI Black;
    font-weight:bold;
    text-align:center;
    padding-top:400px;
}
.content1 h3{
    color:white;
    font-size:20px;
    font-family:Segoe UI;
    font-weight:lighter;
    text-align:center;
}
.content1 table{
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    width:700px;
    height:auto;
    font-size:12px;
    color:#1ac61a;
    font-family:Arial;
}
.content1 table img{
    height:10px;
    margin-left:20px;
    margin-right:20px;
}
.content1 table tr td {
    font-size:14px;
    color:white;
    font-family:Arial;
}
/*------------------------------------------------------------------------------------------------------------*/
.line{
    text-align:right;
    width:150px;
    height:40px;
    font-size:14px;
    color:white;
    font-family:Arial;
}
/*------------------------------------------------------------------------------------------------------------*/
.content2 {
    width:100%;
    height:950px;
    background-image: linear-gradient(rgba(51, 51, 101, 0.59), rgba(20, 20, 51, 0.62)), url('images/background2.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
}
.content2 h1{
    color:white;
    font-size:40px;
    font-family:Segoe UI Black;
    font-weight:bold;
    text-align:center;
    padding-top:100px;
}
.content2 h3{
    color:white;
    font-size:20px;
    font-family:Segoe UI;
    font-weight:lighter;
    text-align:center;
}

/*------------------------------------------------------------------------------------------------------------*/
.container {
    width:900px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
}
.box {
	width: 220px;
	height: 220px;
    float:left;
    margin-left:55px;
}
.box:hover {
	width: 220px;
	height: 220px;
    float:left;
    margin-top:15px;
}
.box a img{
    width: 220px;
	height: 220px;
    border: #313157 solid 10px;
}
.box a img:hover{
    width: 220px;
	height: 230px;
    border: aqua solid 10px;
}
/*------------------------------------------------------------------------------------------------------------*/
.yazilar {
    width:900px;
    height:25px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}
.yazi {
    width:295px;
    height:25px;
    float:left;
    color:white;
    font-size:15px;
    text-align:center;
}
/*------------------------------------------------------------------------------------------------------------*/
.contact{
    width:750px;
    height:450px;
    background-color:#56567c;
    margin-left:auto;
    margin-right:auto;
    margin-top:190px;
    position:relative;
}
.contact table tr td{
    width:375px;
    height:225px;
}
.iletisimSol h2{
    font-size:20px;
    color:white;
    font-family:Arial;
    font-weight:bold;
    margin-left:100px;
}
.iletisimSol p{
    font-size:15px;
    color:white;
    font-family:Arial;    
    margin-left:100px;
}
.iletisimSag p{
    font-size:15px;
    color:white;
    font-family:Arial;
    margin-left:50px;
}
.iletisimAlt img{
    width:30px;
    height:30px;
}
.iletisimAlt ul{
    width:300px;
    height:60px;
    margin-left:auto;
    margin-right:auto;
}
.iletisimAlt ul li{
    list-style-type:none;
    float:left;
    margin:30px;
}
.iletisimAlt ul li a{
	text-decoration: none;
}
/*------------------------------------------------------------------------------------------------------------*/
.content3 {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(20, 20, 51, 0.62), rgba(20, 20, 43, 0.69)), url('images/background1.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
}
/*------------------------------------------------------------------------------------------------------------*/
.footer {
    width:100%;
    height:100px;
    background-color:#313157;
}

.footer h1 {
    text-align:center;
    color:white;
    font-size:12px;
    padding-top:40px;
}
